<!DOCTYPE html>
<html lang="en">

<head>
   
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="{% static 'producto/CSS/style.css' %}" rel="stylesheet">
    <link href="{% static 'producto/CSS/index.css' %}" rel="stylesheet">
    
    <script src="{% static 'login.js' %}"></script>
  <title>Zen Vibes</title>
</head>

<body>

<!-- Inicio de la barra de navegación -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <!-- Este es el logo o nombre de la página web -->
  <img src="{% static "producto/IMG/Helen (2).png" %}" alt="" style="width: 100px;">
  <a class="navbar-brand text-white" href="#"><strong>Zen Vibes</strong></a>
  <!-- Este botón aparece cuando la pantalla es pequeña (responsive design) -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Aquí están los enlaces de la barra de navegación -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <!-- Cada 'li' es un enlace en la barra de navegación -->
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url "index" %}"><strong>Inicio</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url "brotes" %}"><strong>Hogar</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url "arbustos" %}"><strong>Tecnologia</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url "sustrato" %}"><strong>Salud y Belleza</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url "macetero" %}"><strong>Juguetes</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url "nosotros" %}"><strong>Nosotros</strong></a>
      </li>
    </ul>
    <!-- Iconos de usuario y carrito alineados a la derecha -->
    <a href="{% url "login" %}" class="navbar-text text-white ms-auto me-3" id="userIcon">
      <i class="fas fa-user"></i> <span id="usernameDisplay"></span>
    </a>
    <span class="navbar-text text-white me-3" id="cartIcon" data-bs-toggle="modal" style="cursor: pointer;">
      <a href="{% url 'cart:view_cart' %}" class="text-decoration-none text-white">
        <i class="fa fa-shopping-cart"></i>
      </a>
    </span>    
  </div>
</nav>
<!-- Fin de la barra de navegación -->

<div class="container">
  <h1 class="d-flex justify-content-center">
      <img src="{% static 'producto/IMG/headers/titulo.png' %}" alt=". . ." style="max-width: 100%; height: auto;">
  </h1>
</div>

  <!-- Carrusel -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'producto/IMG/slider-5-family.png' %}" class="d-block w-100" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="{% static 'producto/IMG/Sin título.jpg' %}" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="{% static 'producto/IMG/9f33f886-0237-4ebe-b17b-1ccc56f89dda___6d358b959a094f878485b86ee189994d.webp' %}" class="d-block w-100" alt="Slide 3">
    </div>
    <div class="carousel-item">
      <img src="{% static 'producto/IMG/b179830f-b076-4e87-84c0-ca735f91579f___7d60b3169e184bfb3707afe7f6a54ec0 (1).webp' %}" class="d-block w-100" alt="Slide 4">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Fin Carrusel -->

  
  <!-- Productos destacados -->
  <div class="container">
    <h1 class="text-center">Productos Destacados</h1>
</div>
  <div class="container mt-3">
    <div class="row">
      <!-- Primera card -->
      <div class="col-md-4">
        <!-- Card -->
        <div class="card h-100 d-flex flex-column">
          <!-- Imagen -->
          <img src="{% static 'producto/IMG/224274-1600-1600.webp' %}" class="card-img-top" alt="Imagen del producto"
            style="height: 200px; object-fit: cover;">
          
          <div class="card-body d-flex flex-column">
            <!-- Nombre -->
            <h5 class="card-title text-center">Estuche Para Airpods Mini Family Azul MINI FAMILY SERIES</h5>
            <!-- Precio -->
            <p class="card-price">Precio: $2.990</p>
            <!-- Boton para agregar al carrito -->
            <div class="mt-auto text-center">
              <form action="{% url 'cart:add_to_cart' %}" method="post" class="add-to-cart-form">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="1">
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="btn btn-success mt-3">Agregar</button>
            </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Segunda card -->
      <div class="col-md-4">
        <!-- Card -->
        <div class="card h-100 d-flex flex-column">
          <!-- Imagen -->
          <img src="{% static 'producto/IMG/274715-1600-1600.webp' %}" class="card-img-top"
            alt="Imagen del producto" style="height: 200px; object-fit: cover;">
          
          <div class="card-body d-flex flex-column">
            <!-- Nombre -->
            <h5 class="card-title text-center">Peluche DunDun Disfrazado De Cangrejito Felpa Rojo</h5>
            <!-- Precio -->
            <p class="card-price">Precio: $14.900</p>
            <!-- Boton para agregar al carrito -->
            <div class="mt-auto text-center">
              <form action="{% url 'cart:add_to_cart' %}" method="post" class="add-to-cart-form">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="13">
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="btn btn-success mt-3">Agregar</button>
            </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Tercera card -->
      <div class="col-md-4">
        <!-- Card -->
        <div class="card h-100 d-flex flex-column">
          <!-- Imagen -->
          <img src="{% static 'producto/IMG/228958-1600-1600.webp' %}" class="card-img-top" alt="Imagen del producto"
            style="height: 200px; object-fit: cover;">
          
          <div class="card-body d-flex flex-column">
            <!-- Nombre -->
            <h5 class="card-title text-center">Mascarilla Para Labios Shiny Chocolate</h5>
            <!-- Precio -->
            <p class="card-price">Precio: $1.290</p>
            <!-- Boton para agregar al carrito -->
            <div class="mt-auto text-center">
              <form action="{% url 'cart:add_to_cart' %}" method="post" class="add-to-cart-form">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="9">
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="btn btn-success mt-3">Agregar</button>
            </form>
            </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Repite este patrón para las demás tarjetas -->
  
    <!-- Footer -->
    <footer class="bg-success text-light py-2">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mt-2">
            <h5>Contacto</h5>
            <ul class="list-unstyled text-light">
              <li><i class="fa-solid fa-house me-2"></i>Dirección: Avenida Siempreviva #742, Springfield</i></li>
              <li><i class="fa-solid fa-phone me-2"></i>Teléfono: +123 456 789 </i></li>
              <li><i class="fa-solid fa-envelope me-2"></i>Correo Electrónico: info@zenvibes.com</i></li>
              <li><i class="fa-solid fa-circle-question me-2"></i></i>Ayuda</i></li>
          </ul>
          </div>
          <div class="col-md-4 mt-2">
            <h5>Redes Sociales</h5>
            <ul class="list-unstyled">
              <li><a href="https://www.facebook.com" class="text-light"><i class="fab fa-facebook-f me-2"></i>Facebook</a></li>
              <li><a href="https://www.x.com" class="text-light"><i class="fab fa-twitter me-2"></i>Twitter</a></li>
              <li><a href="https://www.instagram.com" class="text-light"><i class="fab fa-instagram me-2"></i>Instagram</a></li>
            </ul>
          </div>
          <div class="col-md-4 mt-2">
            <h5>Categorias</h5>
            <ul class="list-unstyled text-light">
                <li> Hogar </li>
                <li> Tecnologia </li>
                <li> Salud y Belleza </li>
                <li> Jugetes </li>
            </ul>
        </div>
        </div>
      </div>
    </footer>
  
<!-- Bootstrap Bundle (JS incluido Popper.js) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>


</body>

</html>
