

/* Estilo para el fondo con gradiente */
.navbar-dark{
    background-image: linear-gradient(to right,#40A578, #9DDE8B);
}

/* Cambio de Color Boton a verde*/
.btn:hover {
    background-color: #9DDE8B;
    border-color: #9DDE8B; 
}

/* Fondo de la Pagina */
body {
    background-image: url('../IMG/pexels-minan1398-1131458.jpg');  
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el cuerpo */
    background-position: center; /* Centra la imagen de fondo */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
    background-color: whitesmoke; /* Color de fondo de respaldo */
    
}



.container2 {

    margin-left: 450px;

}

btn-primary {
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Relleno */
    font-size: 18px; /* Tamaño de fuente */
    border: none; /* Sin borde */
    border-radius: 4px; /* Borde redondeado */
    margin: 0 auto; /* Margen automático a los lados para centrar */
    width: 50%;
}
.btn-primary:hover {
    background-color: #0056b3; /* Color de fondo al pasar el cursor */
}

/* Estilos adicionales para centrar elementos */
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; /* Ajusta la altura según necesites */
}

/* Estilo específico para el formulario de inicio de sesión */
.login-form {
    width: 50%; /* Ancho del formulario */
    max-width: 500px; /* Ancho máximo para mantener la legibilidad */
    background-color: rgba(188, 218, 171, 0.541); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(109, 153, 80, 0.418); /* Sombra suave */
    text-align: center; /* Alineación central del contenido */
}

footer {
    margin-top: 30px; /* Ajusta el valor según lo necesites */
    
  }